scripts=[
        "
        create service user poc-service with path system/rights
        set ACL for dam-rm-service
           allow jcr:read on /conf
           allow jcr:read on /content/dam
           allow jcr:read on /etc
           allow jcr:read on /var
        end
        
        create path (sling:OrderedFolder) /content/dam/poc/marketing
        create path (nt:unstructured) /content/dam/poc/marketing/jcr:content
        
        create path (sling:OrderedFolder) /content/dam/poc/customers
        create path (nt:unstructured) /content/dam/poc/customers/jcr:content

        set ACL for everyone
            deny jcr:read on /content/dam/poc/marketing restriction(rep:ntNames,dam:Asset)
            deny jcr:read on /content/dam/poc/customers restriction(rep:ntNames,dam:Asset)
            deny jcr:read on /content/dam/poc/products restriction(rep:ntNames,dam:Asset)
            deny jcr:read on /content/dam/poc/templates restriction(rep:ntNames,dam:Asset)
            deny jcr:read on /content/dam/poc/pacs restriction(rep:ntNames,dam:Asset)
        end
        "
]